{% extends "base.html" %} {% block title %} Automation Works - Contact Us {% endblock title %} {% block body %}
<div class="container-fluid px-0 mb-3">
  <img src="static/images/contactus.jpg" class="d-block w-100" style="height: 300px; filter: brightness(60%); object-fit: cover" alt="..." />
</div>
<div class="container mb-3 py-4">
  <h1 class="text-center fw-bold my-4">Contact Us</h1>
  <form method="post" action="/contact">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Contact Number</label>
      <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Your Mobile Number" />
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea class="form-control" id="message" name="message" rows="3"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock body %}
